*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  box-shadow: 0 8px 10px green;
  background: linear-gradient(to right, #b92b27, #1565c0);
}
